<!-- Start Wrapper  -->
<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
  <tr>
    <td height="20" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
  </tr>
  <tr>
    <td align="center">

      <!-- Start Container  -->
      <table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
        <tr>
          <td width="300" class="mobile" align="center" valign="top">

            <!-- Start Content -->
            <table width="280" cellpadding="0" cellspacing="0" border="0" class="container" align="left">
              <tr>
                <td width="280" class="mobile" style="font-size:12px; line-height:18px;">

                  <%= email_image_tag 'logo.png', class: 'imgClass', width: 280, style: 'margin:0;margin-top: 40px; padding:0; border:none; display:block;', alt: "logo" %>
                </td>               
              </tr>
              <tr>
                <td height="20" style="font-size:10px; line-height:10px;" class="mobileOn"> </td><!-- Spacer -->
              </tr> 
              <tr>
                <td height="20" style="font-size:10px; line-height:10px;" >
              </tr>
            </table>
            <!-- Start Content -->                                
                </td>
                <td width="300" class="mobile" align="center" valign="top">

                  <!-- Start Content -->
                  <table width="280" cellpadding="0" cellspacing="0" border="0" class="container" align="right">
                    <tr>
                      <td width="280" align="left" class="mobile" style="font-family: Century Gothic, Arial, sans-serif; font-size:20px; line-height:26px; font-weight:bold;">
                        Happy <%= Date::DAYNAMES[Time.now.wday] %>!
                      </td>               
                    </tr>
                    <tr>
                      <td height="20" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
                    </tr>                            
                    <tr>
                      <td width="280" align="left" class="mobile" style="font-family: Century Gothic, Arial, sans-serif; font-size:14px; line-height:20px;">
                        Here's a reminder from Volition to reflect on your day. It's important to look back and think about what went wrong, what went right, and what wasn't finished.
                      </td>               
                    </tr>
                    <tr>
                      <td height="20" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
                    </tr>                             
                    <tr>
                      <td width="280" class="mobile" style="font-size:14px; line-height:20px;">

                        <!-- Start Button -->
                        <table width="170" cellpadding="0" cellspacing="0" align="left" border="0"> 
                          <tr>
                            <td width="170" height="36" bgcolor="#555555" align="center" valign="middle" 
                                                                                         style="font-family: Century Gothic, Arial, sans-serif; font-size: 16px; color: #ffffff; 
                                                                                         line-height:18px; border-radius:3px;">
                              <a href="<%= login_url %>" target="_blank" alias="" style="font-family: Century Gothic, Arial, sans-serif; text-decoration: none; color: #ffffff;">Log in</a>
                            </td>                                           
                          </tr>                                        
                        </table>
                        <!-- End Button --> 

                      </td>               
                    </tr>
                    <tr>
                      <td height="20" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
                    </tr>                             
                  </table>
                  <!-- Start Content -->                     

                </td>
        </tr>
      </table>
      <!-- Start Container  -->                   

          </td>
  </tr>                       
</table> 
<!-- End Wrapper  -->
