<section class="reflectSection">
  <h1>Daily reflection</h1>

  <form action="/mockups/tomorrow" class="reflectionForm">
    <div class="inputGroup">
      <label for="">How would you rate your day?</label>
      <div class="dayRating">
        <span class="ratingCircle"><span class="ratingNumber">1</span></span>
        <span class="ratingCircle"><span class="ratingNumber">2</span></span>
        <span class="ratingCircle"><span class="ratingNumber">3</span></span>
        <span class="ratingCircle"><span class="ratingNumber">4</span></span>
        <span class="ratingCircle"><span class="ratingNumber">5</span></span>
        <span class="ratingCircle"><span class="ratingNumber">6</span></span>
        <span class="ratingCircle"><span class="ratingNumber">7</span></span>
        <span class="ratingCircle"><span class="ratingNumber">8</span></span>
        <span class="ratingCircle"><span class="ratingNumber">9</span></span>
        <span class="ratingCircle"><span class="ratingNumber">10</span></span>
      </div>
    </div>

    <div class="inputGroup">
      <label for="wrong">What did you do wrong today?</label>
      <textarea id="wrong" name="" cols="30" rows="3"></textarea>
    </div>

    <div class="inputGroup">
      <label for="right">What did you do right today?</label>
      <textarea id="right" name="" cols="30" rows="3"></textarea>
    </div>

    <div class="inputGroup">
      <label for="undone">What was left undone?</label>
      <textarea id="undone" name="" cols="30" rows="3"></textarea>
    </div>

    <input type="submit">
  </form>
</section>
