<section class="appSection">
  <h1>Settings</h1>
  <div class="settingsForm breatheTop">
    <div class="settingsSection">
      <h2 class="settingsHeading">Contact</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween flexWrap">
        <div class="settingsInputGroup">
          <label for="">Email</label>
          <input class="settingsInput" type="text" value="email@example.com">
        </div>

        <div class="settingsInputGroup">
          <label for="">Name</label>
          <input class="settingsInput" type="text">
        </div>

        <div class="settingsInputGroup breatheTop">
          <label for="">Phone</label>
          <input class="settingsInput" type="text">
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Change password</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <label for="">Old</label>
          <input class="settingsInput" type="password">
        </div>

        <div class="settingsInputGroup">
          <label for="">New</label>
          <input class="settingsInput" type="password">
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Notifications</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <input class="completeInput" id="complete1" type="checkbox">
              <label for="complete1"></label>
            </div>
            Email
          </label>
        </div>

        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <input class="completeInput" id="complete2" type="checkbox">
              <label for="complete2"></label>
            </div>
            Phone
          </label>
        </div>
      </div>
    </div>

    <div class="settingsSection">
      <h2 class="settingsHeading">Other</h2>
      <div class="breatheTop breatheBottom flexRow flexJustifySpaceBetween">
        <div class="settingsInputGroup">
          <label for="" class="flexRow">
            <div class="checkbox breatheRight">
              <input class="completeInput" id="complete3" type="checkbox">
              <label for="complete3"></label>
            </div>
            Track tasks on weekends
          </label>
        </div>
      </div>
    </div>
    <button>Save</button>
  </div>
</section>
