<section class="todaySection">
  <h1>Today</h1>
  <h2><%= Date.today.strftime('%B %e, %Y') %></h2>

  <ul class="todoList">
    <li class="todoLabels">
      <span class="todoLabel">Complete</span>
      <span class="todoLabel">25 minute blocks</span>
    </li>

    <li class="todo">
      <div class="todoComplete">
        <div class="checkbox">
          <input class="completeInput" id="complete1" type="checkbox">
          <label for="complete1"></label>
        </div>
      </div>
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoPomodoros">
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
      </div>
    </li>
    <li class="todo">
      <div class="todoComplete">
        <div class="checkbox">
          <input class="completeInput" id="complete2" type="checkbox">
          <label for="complete2"></label>
        </div>
      </div>
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoPomodoros">
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
      </div>
    </li>
    <li class="todo">
      <div class="todoComplete">
        <div class="checkbox">
          <input class="completeInput" id="complete3" type="checkbox">
          <label for="complete3"></label>
        </div>
      </div>
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoPomodoros">
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        </span>
    </li>
    <li class="todo">
      <div class="todoComplete">
        <div class="checkbox">
          <input class="completeInput" id="complete4" type="checkbox">
          <label for="complete4"></label>
        </div>
      </div>
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoPomodoros">
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
      </div>
    </li>
    <li class="todo">
      <div class="todoComplete">
        <div class="checkbox">
          <input class="completeInput" id="complete5" type="checkbox">
          <label for="complete5"></label>
        </div>
      </div>
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoPomodoros">
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
        <span class="pomodoroCircle"></span>
      </div>
    </li>
  </ul>
  <a href="/mockups/reflect" class="finishDayButton button">All done</a>
</section>
