<section class="tomorrowSection">
  <h1>Tomorrow</h1>
  <div class="calendarIcon">
    <div class="calendarIconTopBar"><span class="month"><%= Date.tomorrow.strftime('%B') %></span></div>
    <div class="calendarIconDay"><span class="day"><%= Date.tomorrow.strftime('%e') %></span></div>
  </div>

  <p class="tomorrowExplanation">Let's plan tasks for tomorrow. In the "estimate" column, enter your guess for how many 25 minute blocks it will take to finish each task. If you think it will take more than five, break it down into smaller tasks.</p>

  <ul class="todoList tomorrow">
    <li class="todoLabels">
      <span></span>
      <span class="todoLabel">Estimate</span>
    </li>

    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
        </span>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
  </ul>

  <a href="/mockups/nice_job" class="saveTomorrowButton button">Save</a>
</section>
