<section class="tomorrowSection">
  <h1>Tomorrow</h1>

  <ol class="todoList">
    <li class="todoLabels">
      <span></span>
      <span class="todoLabel">Estimate</span>
    </li>

    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
        </span>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
    <li class="todo">
      <div class="todoContent"><input class="contentInput" type="text"></div>
      <div class="todoEstimate">
        <input class="estimateInput" type="text" maxlength="1">
      </div>
    </li>
  </ol>
</section>
