<section class="appSection">
  <h1>Today</h1>
  <div class="calendarIcon">
    <div class="calendarIconTopBar"><span class="month"><%= Date.current.strftime('%B') %></span></div>
    <div class="calendarIconDay"><span class="day"><%= Date.current.strftime('%e') %></span></div>
  </div>

  <%= react_component 'TodoList', todos: @todos %>
  <%= link_to 'All done', reflect_path, class: 'finishDayButton button' %>
</section>
