<section class="appSection">
  <h1>Today</h1>
  <div class="calendarIcon">
    <div class="calendarIconTopBar"><span class="month"><%= Date.current.strftime('%B') %></span></div>
    <div class="calendarIconDay"><span class="day"><%= Date.current.strftime('%e') %></span></div>
  </div>

  <%= react_component 'TodoList', todos: @todos %>
  <%= link_to 'All done', reflect_path, class: 'finishDayButton button' %>
  <p class="instructions light">Clicking "All done" will take you to the reflection page. You can come back here and edit your todos until tomorrow.</p>
</section>
