<div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true" data-theme="dark"></div>

<% if user_logged_in? %>
  <hr>
<% else %>
  <div class="divider choice">
    <span>or</span>
    <hr>
  </div>
<% end %>
