<?xml version="1.0" encoding="UTF-8"?>
<svg id="paidIcon" viewBox="0 0 406 343" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.2 (44496) - http://www.bohemiancoding.com/sketch -->
    <title>Group</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="13.0844293" y="80.6240341" width="383.289398" height="174.751932" rx="8"></rect>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(-2.000000, 4.000000)">
            <circle id="Oval" stroke="#49BE5A" stroke-width="8" fill-opacity="0" fill="#D8D8D8" cx="204.5" cy="167.5" r="167.5"></circle>
            <circle id="Oval-2" stroke="#49BE5A" stroke-width="3" fill-opacity="0" fill="#D8D8D8" stroke-dasharray="5" cx="204.5" cy="167.5" r="127.5"></circle>
            <g id="Rectangle" transform="translate(204.729128, 168.000000) rotate(-10.000000) translate(-204.729128, -168.000000) ">
                <use fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                <rect stroke="#49BE5A" stroke-width="3" x="14.5844293" y="82.1240341" width="380.289398" height="171.751932" rx="8"></rect>
            </g>
            <text id="PAID" fill="#49BE5A" transform="translate(204.860783, 167.163309) rotate(-10.000000) translate(-204.860783, -167.163309) " font-family="Karla-Regular, Karla" font-size="144" font-weight="normal">
                <tspan x="58.3607827" y="215.163309">PAID</tspan>
            </text>
        </g>
    </g>
</svg>
