button, a.button, input[type="submit"] {
  appearance: none;
  background-color: $action-color;
  border: 0;
  border-radius: $base-border-radius;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  // text-shadow: 1px 1px 1px #666;

  &.danger {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: $dark-red;
      color: #fff;
    }
  }

  &:hover,
  &:focus {
    background-color: $dark-green;
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $light-gray;

    &:hover {
      background-color: $medium-gray;
    }
  }

  &.small {
    font-size: 1rem;
  }

  &.secondary {
    background-color: transparent;
    border: 2px solid $green;
    padding: 0.6em $base-spacing;
  }

}

div.sliderButtons {
  display: block;
  text-align: center;

  span.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,.4);
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;

    &.active {
      background-color: rgba(255,255,255,.8);

    }
  }
}
