fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 400;
  margin-bottom: $small-spacing / 2;
  font-family: $heading-font-family;
  letter-spacing: 1px;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

select[multiple=multiple], input[type="text"], input[type="password"], textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $action-color;
    outline: none;
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

input[type="text"], input[type="password"] {
  border: none;
  border-bottom: 1px solid $medium-gray;
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;

  + label {
    display: inline-block;
  }
}

input[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  max-width: 100%;
  width: auto;
}

.hasError {
  border: 1px solid $error-color !important;
}

.errorMessage {
  color: $error-color;
  font-size: $small-font-size;
  margin-bottom: $small-spacing;
}

div.inputGroup {
  margin-bottom: 1rem;
}
