<div class="subscribe">
  <div id="email">
    <p>Subscribe for updates</p>
    <input type="text" placeholder="me@example.com">
  </div>
  <%= link_to 'Subscribe', '#', class: 'button', id: 'subscribeButton' %>
</div>
