<%= form_tag 'https://tinyletter.com/usevolition', class: 'subscribe' do %>
  <div class="email">
    <p>Subscribe for updates</p>
    <%= text_field_tag :email, nil, placeholder: 'me@example.com' %>
  </div>
  <%= submit_tag 'Subscribe', class: 'button', id: 'subscribeButton' %>
<% end %>
