<section class="philosophySection">
  <h2 class="sectionHeading">The philosophy behind Volition</h2>

  <div class="philosophyPoint">
    <h4 class="marketingTagline">Work should be fulfilling, not consuming</h4>
    <p class="philosophyContent">
      I helped start a business so that I could create something new and useful. I also had a vision of a lifestyle I wanted to build; one that didn't revolve solely around work. Working myself to the bone for years on the off chance that I would have enough money to retire did not seem like a path to happiness.
    </p>
  </div>

  <div class="philosophyPoint">
    <h4 class="marketingTagline">Time should be used intentionally</h4>
    <p class="philosophyContent">
      I have had too many days that were planned on the fly. For me, that is not a recipe for impactful work, whether creative or rote. It led me to many dead ends and allowed for wasteful diversions. When I have a plan for the day, I can navigate smoothly from one task to the next. It takes less thought and willpower to get started, to stay on track, and to get things done. It's liberating because it relieves the stress created by needing to figure out what must get done, and it leaves more time in my day for things other than work.
    </p>
  </div>

  <div class="philosophyPoint">
    <h4 class="marketingTagline">Without reflection, we don't become better people</h4>
    <p class="philosophyContent">
      In that past, I often supressed reflecting on my mistakes to avoid reliving those moments. That approach has been wrong for me, and I regret it. Having the courage to face my mistakes allows me to make corrections and improve. It sounds simple, but most of us rarely do it.
      <br>
      <br>
      Epictetus, a first-century Greek philosopher, was well aware of people's' aversion to acknowledging failure and analyzing what they have done wrong. He asks us in his <em><%= link_to "Discourses".html_safe, "http://classics.mit.edu/Epictetus/discourses.html", target: "_blank" %></em> to overcome that aversion:
      <blockquote>
        Let sleep not come upon thy languid eyes
        Before each daily action thou hast scann'd;
        What's done amiss, what done, what left undone;
        From first to last examine all, and then
        Blame what is wrong, in what is right rejoice.
      </blockquote>
    </p>
  </div>

  <div class="philosophyPoint">
    <h4 class="marketingTagline">Users should control their own data</h4>
    <p class="philosophyContent">
      New web applications and software products seem to be more ephemeral than ever. This is the reason Volition's users have the option to self-host the product. If Volition helps you as much as it has helped me, I want you to rest easy knowing you'll have it forever.
    </p>
  </div>

</section>
