<section class="runningCosts">
  <div id="runningCostsChart">
    <canvas id="myChart"></canvas>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById("myChart")


function newDate(months) {
  return moment().add(months, 'month').toDate();
}

function newDateString(months) {
  return moment().add(months, 'month').format();
}

function getDataSetAverage(dataset) {
  return dataset.data.reduce(function(avg, datum) {
    avg = avg + datum.y
      return avg
  }, 0) / dataset.data.length
}

function sortDataSetsByAverageAmount(datasets) {
  return datasets.sort(function(first, next) {
    return getDataSetAverage(first) - getDataSetAverage(next)
  })
}

var firstMonth = newDateString()

var datasets = gon.chartData


var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    datasets: sortDataSetsByAverageAmount(datasets)
  },
  options: {
    tooltips: {
      callbacks: {
        title: function(tooltipItem, data) {
          return data.datasets[tooltipItem[0].datasetIndex].label
        },
        label: function(tooltipItem, data) {
          return '$' + tooltipItem.yLabel
        }
      }
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero:true,
          callback: function(value) {
            return '$' + value
          }
        }
      }],
      xAxes: [{
        type: 'time',
        display: true,
        time: {
          unit: 'month',
          displayFormats: {
            month: 'MMM YYYY'
          }
        }
      }]
    }
  }
})
</script>


