<section class="appSection">
  <h1>Nice job!</h1>

  <img class="niceJobGif" src="http://media3.giphy.com/media/XreQmk7ETCak0/200w.gif" alt="">

  <p>It looks like today was very productive. Keep it up.</p>

  <%= link_to 'back to dashboard', dashboard_path %>
</section>
