<div class="flexColumn flexAlignCenter breatheTop breatheBottom">
  <%= render partial: "users/paid_icon" %>
  <p class="instructions breatheBottom">Thanks for supporting Volition! It's because of people like you that software like this continues to exist. You will receive a receipt in your email shortly.</p>
  <%= link_to "Get back to using Volition", dashboard_path, class: "button" %>
</div>
