<section class="appSection">
  <div class="welcomeLetter">
    <p>Welcome <span class="welcomeUser"><%= current_user.name %></span>!</p>

    <p>You have taken an important step towards becoming more productive.</p>

    <p>If you don't already know, here is Volition's philosophy:</p>

    <ul class="philosophy">
      <li>Work should be fulfilling, not consuming.</li>
      <li>Productivity should be measured by impact, not the number of tasks you can complete.</li>
      <li>Without reflection, we don't become better people.</li>
    </ul>

    <p>
      Before you get started, I'd like to take a moment to explain how to use Volition. Let's walk through what a day with Volition looks like:
    </p>

    <p>
      The goal is to become consistent and mindful about the work you do. You'll plan each day the night before, writing down your five most important tasks and how long you think they will take. Put some thought into planning your day the night before, and you will have more energy for tackling those tough morning tasks.
    </p>

    <p>
      Once you start your day, you can check off tasks as you complete them and mark how much time they took you to complete.
    </p>

    <p>
      After you have finished your tasks or decided that you're done working for the day, you'll get a chance to reflect. This is important; we don't give ourselves the chance to improve if we don't examine what we did and think about how we can improve.
    </p>

    <p>
      If you think of more tasks you need to complete throughout the day but don't want to change the plan you’ve already made, you can add them to your weekly plan. The weekly plan acts as a brain dump for what you need to get done for the week. You can easily take things from that list and add them to your daily todo list.
    </p>

    <p>
      That's it! I hope that this tool helps you become more productive and gives you some peace of mind.
    </p>

    <p>&mdash; Garrett Martin</p>

    <%= link_to 'Get started &rarr;'.html_safe, dashboard_path, class: 'button' %>
  </div>
</section>
