<section class="appSection">
  <h1>Payment</h1>

  <p class="instructions">You've had a chance to try Volition. If you found it useful, you can pay $12 to use it forever! If you don't want to pay and you have some technical chops, you can also <%= link_to "self-host with Heroku", ENV["HEROKU_URL"], class: "herokuLink", target: "_blank" %>.</p>
  <%= form_with url: payments_path, local: true, id: "payment-form" do %>
    <form id="payment-form" action="">
      <div id="credit-card" class="breatheBottom">
        <label for="card-element">Credit or debit card</label>
        <div id="card-element"></div>
        <div id="card-errors"></div>

        <button class="breatheTop" id="submitStripeForm">
          <span class="submitButtonText">
            Submit Payment
          </span>
          <i class="fa fa-cog fa-spin hidden"></i>
        </button>
      </div>
    <% end %>
</section>

