<div class="js--toggleWeekPlan closeWeekPlan">
  <span>close</span>
</div>
<% if week_plan.todos.present? %>
  <div class="weeklyTodosScrollable">
    <ul class="weeklyTodos">
      <% week_plan.todos.reverse.each do |todo| %>
        <li class="weeklyTodo">
          <%= todo.content %>
          <%= render partial: button_partial_name, locals: { todo: todo } %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p class="noTasks"><%= local_assigns.fetch(:blank_slate_text, "No tasks yet.") %></p>
<% end %>
