.flash {
  width: 400px;
  font-size: 14px;
  padding: 10px;
  margin: 20px auto 0 auto;
}

.flash-error {
  border: 2px solid $red;
  border-radius: $base-border-radius;
}

.flash-success {
  border: 2px solid $action-color;
  border-radius: $base-border-radius;
}
