.flash {
  width: 90%;
  font-size: 14px;
  padding: 10px;
  margin: 20px auto 0 auto;
  margin-top: 50px;

  @include MQ(M) {
    width: 500px;
  }
}

.flash-error {
  border: 2px solid $red;
  border-radius: $base-border-radius;
}

.flash-success {
  border: 2px solid $blue;
  border-radius: $base-border-radius;
}
