.todaySection {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  padding-top: 50px;

  h1 {
    font-size: 30px;
    color: $dark-gray;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    color: $medium-gray;
  }
}

.tomorrowSection {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);

  h1 {
    font-size: 40px;
    color: $dark-gray;
  }

  .todoList {
    width: 500px;
  }
}

.todoEstimate {
  .estimateInput {
    width: 30px;
    border: 1px dotted $dark-gray;
    height: 30px
  }
}

.todoList {
  margin-top: 20px;
  width: 600px;
}

.todo {
  @include display-flex;
  @include align-items(flex-end);
  @include justify-content(space-between);
  width: 100%;
  margin-bottom: 20px;
}

.todoComplete {
  label {
    position: relative;
    border: 1px solid $medium-gray;
    width: 20px;
    height: 20px;
  }

  .completeInput {
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    &:checked + label {
      &:before {
        content: "\2714";
        font-size: 18px;
        color: $action-color;
        position: absolute;
        top: -3px;
        left: 2px;
      }
    }
  }
}

.todoContent {
  width: 400px;

  .contentInput {
    border: none;
    border-bottom: 1px solid $medium-gray;
  }
}

.todoPomodoros {
  @include display-flex;
  @include justify-content(space-between);
  width: 120px;

  .pomodoroCircle {
    width: 20px;
    height: 20px;
    border: 1px solid $medium-gray;
    border-radius: 50%;

    &.active {
      background: $action-color;
      border: 1px solid $action-color;
    }
  }
}

.todoLabels {
  @include display-flex;
  @include justify-content(space-between);

  .todoLabel {
    font-size: 12px;
  }
}

.finishDayButton {
  margin-top: 20px;
  font-size: 14px !important;
}

