.daySummaryList {
  width: 90%;
  padding: 0;

  @include MQ(M) {
    width: 500px;
  }
}

.daySummary {
  @include display-flex;
  @include align-items(center);
  // @include justify-content(space-around);
  width: 100%;
  height: 175px;
  border: 2px solid $light-gray;
  border-radius: $base-border-radius;
  margin-bottom: 40px;

  &.today {
    border: 2px solid $action-color;
  }

  &.tomorrow {
    border: 2px dashed $light-gray;
  }
}

.daySummaryInfoColumn {
  background: $light-gray;
  height: 100%;
  height: 100%;
  width: 75px;
  padding: 20px 0;
}

.todayLink {
  margin-bottom: 40px;
}

.dashboardTodoList {
  font-size: 16px;
  @include flex(1);
}

.dashboardTodo {
  .complete {
    text-decoration: line-through;
  }
}

.checkMark {
  color: $action-color;
  margin-left: 5px;
  position: relative;

  &.disabled {
    color: $medium-gray;

    &:after {
      border: solid $medium-gray;
      content: "";
      display: block;
      width: 7px;
      height: 16px;
      position: absolute;
      transform: rotate(45deg);
      border-width: 0 3px 3px 0;
      top: -2px;
      left: 4px;
    }
  }

  &:after {
    content: "";
    display: block;
    width: 7px;
    height: 16px;
    position: absolute;
    border: solid $action-color;
    transform: rotate(45deg);
    border-width: 0 3px 3px 0;
    top: -2px;
    left: 4px;
  }
}

.noTasks {
  margin: 0 auto;
  color: $medium-gray;
}

.noTodoLists {
  color: $medium-gray;
  text-align: center;
}

.weekendMessage {
  color: $medium-gray;
}
