.appSection {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  padding-top: 50px;
  margin-bottom: 4rem;

  h1 {
    font-size: 30px;
    color: $dark-gray;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    color: $green;
  }
}

blockquote {
  font-size: 1rem;
  margin-left: 0;
  border-left: 4px solid $medium-gray;
  padding-left: 20px;
}

footer {
  text-align: center;
}

.green {
  color: $green;
}

.divider {
  margin: 40px auto;
}

.xMark {
  color: $red;
  font-weight: bold;
  &:after {
    content: 'x'
  }
}

.checkMark {
  color: $action-color;
  margin-left: 5px;
  position: relative;

  &:after {
    content: "";
    display: block;
    width: 7px;
    height: 16px;
    position: absolute;
    border: solid $action-color;
    transform: rotate(45deg);
    border-width: 0 3px 3px 0;
    top: -2px;
    left: 4px;
  }
}

.highlight {
  background: $yellow;
  color: $dark-gray !important;
}
