.appSection {
  @include display-flex;
  @include flex-direction(column);
  @include align-items(center);
  padding-top: 50px;
  margin-bottom: 4rem;

  h1 {
    font-size: 30px;
    color: $dark-gray;
    margin: 0;
  }

  h2 {
    font-size: 20px;
    color: $green;
  }
}

blockquote {
  font-size: 1rem;
  margin-left: 0;
  border-left: 4px solid $medium-gray;
  padding-left: 20px;
}

footer {
  text-align: center;
}
