%marketingSection {
  padding: 1.5rem;
  margin: 0 auto;

  @include MQ(M) {
    padding: 4rem;
  }
}

.marketingCard {
  img {
    box-shadow: $box-shadow;
    margin-bottom: 40px;
    border-radius: $base-border-radius;
  }
}

.heroSection {
  @extend %marketingSection;
  @include display-flex;
  @include align-items(center);
  @include flex-direction(column);
  width: 100vw;
  color: $dark-gray;

  position: relative;

  @include MQ(M) {
    @include flex-direction(row);
    height: 600px;
  }
}

.mobileHeader {
  @include display-flex;
  @include align-items(center);
  width: 100%;

  @include MQ(M) {
    display: none;
  }
}

.heroMain {
  @include display-flex;
  @include flex-direction(column-reverse);
  width: 100%;

  @include MQ(M) {
    @include flex-direction(row);
    @include align-items(flex-start);
    @include justify-content(space-around);
  }
}

.heroLogo {
  display: none;

  &.mobile {
    display: block;
    width: 150px;
    margin-bottom: 1rem;
  }

  @include MQ(M) {
    display: block;
    width: 150px;
  }
}

.heroTitleSection {
  div {
    a {
      margin-right: 15px;
    }
  }
}

.subscribe {
  margin-top: 25px;
  display: none;

  @include MQ(M) {
    width: 400px;
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(space-between);
  }

  p {
    color: $dark-gray;
    margin: 0;
  }

  .email {
    width: 100%;

    @include MQ(M) {
      width: 65%;
    }

    input {
      border-radius: $base-border-radius;
      color: $dark-gray;
      border: 2px solid $light-gray;
    }
  }

  #subscribeButton {
    margin-top: 10px;
    align-self: flex-start;

    @include MQ(M) {
      align-self: flex-end;
      margin: 0;
    }
  }
}

.heroTagline {
  font-size: 2rem;
}

.heroExplanation {
  @include MQ(M) {
    width: 50%;
  }

  p {
    font-size: 1rem;
  }
}

.philosophySection, .dayWithVolitionSection, .pricingSection {
  @extend %marketingSection;
  @include MQ(M) {
    width: 75%;
  }

  @include MQ(L) {
    width: 65%;
  }
}

.marketingTagline {
  font-size: 1.2rem;
  font-weight: bold;
}

.downArrow {
  text-align: center;
  font-size: 2rem;
  margin: 0 !important;
  color: $light-blue;
}

.sectionHeading {
  font-size: 2rem;
}

.pricing {
  @include display-flex;
  @include flex-direction(column);

  @include MQ(M) {
    @include flex-direction(row);
  }

  h3 {
    font-size: 1.5rem;
  }

  .hosted, .selfHosted {
    padding: 1rem 1rem;

    @include MQ(M) {
      padding: 3rem 1rem;
    }
  }

  .hosted {
    background: $green;
    color: $white;
    border-radius: $base-border-radius;
  }

  .price {
    font-size: 2rem;
    font-weight: bold;
  }
}

.runningCosts {
  @extend %marketingSection;
  width: 90%;

  @include MQ(M) {
    width: 75%;
  }

  .runningCostsHeading {
    margin-bottom: 40px;
    h1 {
      text-align: center;
    }

    p {
      margin: 0 auto;

      @include MQ(M) {
        width: 65%;
      }
    }
  }
}

#runningCostsChart {
  position: relative;
  height: 50vh;
  width: 100%;
  margin-left: inherit auto;

  @include MQ(M) {
    height: 400px;
  }
}

.subscribeCenter {
  form {
    margin: 0 auto;
  }
  margin-bottom: 40px;
}

.providerList {
  ul {
    padding: 0;
  }
}

.providerItem {
  margin: 20px 0;
  border: 2px solid $medium-gray;
  border-radius: $base-border-radius;
  padding: 10px;
  color: $dark-gray;
  @include display-flex;
  @include justify-content(space-between);

  h3 {
    font-size: 1.5rem;
  }
}

.runningCostsTotal {
  text-align: center;
}
