.navigation {
  margin-top: 20px;

  .navLinks {
    width: 1000px;
    margin: 0 auto;
  }
}

.logo {
  height: 30px;
  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.logoutLink {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
}
