.navigation {
  margin-top: 20px;

  .navLinks {
    width: 80%;
    margin: 0 auto;
  }
}

.logo {
  @include display-flex;
  @include align-items(flex-end);
  height: 30px;
  img {
    max-height: 100%;
    max-width: 100%;
  }

  .demoIndicator {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    background: $red;
    color: $white;
    padding: 3px 5px;
  }
}

.navLink {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(flex-end);
  padding: 10px 0;
}

.navRight {
  width: 145px;

  @include MQ(M) {
    width: initial;
  }
}
