.pagination {
  margin-bottom: 20px;
  @include display-flex;
  @include justify-content(space-between);

  :not(.disabled) {
    font-size: 24px;
  }

  .current {
    font-size: 24px;
    color: $dark-gray;
  }

  a, em {
    margin: 0 3px;
  }
}
