.contentSection {
  padding: 2rem;

  @include MQ(M) {
    text-align: center;
    padding: 6rem 15rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2, h3 {
    font-size: 1.5rem;
    text-align: left;
  }

  ol, ul {
    font-size: 1rem;
    text-align: left;
  }

  ul {
    list-style: disc;
    li {
      margin: 10px 0;
    }
  }

  p {
    text-align: left;
  }
}
