.instructions {
  margin-top: 20px;
  color: $dark-gray;
  font-size: 16px;
  width: 90%;

  @include MQ(M) {
    width: 500px;
  }
}

.saveButton {
  margin-right: 10px;
}

.todoEstimate {
  .estimateInput {
    width: 30px;
    height: 30px;
  }
}

.new_todo_list {
  width: 90%;

  @include MQ(M) {
    width: initial;
  }
}

div[data-react-class='TodoList'] {
  width: 90%;

  @include MQ(M) {
    width: initial;
  }
}

.todoList {
  width: 100%;
  padding: 0;
  margin-top: 80px;
  position: relative;

  @include MQ(M) {
    margin: 0;
    width: 600px;
  }

  &.tomorrow {
    @include MQ(M) {
      width: 500px;
    }
    width: 100%;
    padding: 0;
    margin-bottom: 20px;

    .todoContent {
      width: 85%;
    }
  }

  .recentlySaved {
    transition: all 400ms;
    font-size: 14px;
    color: $medium-gray;
    text-align: center;
    position: absolute;
    top: -75px;
    right: 0;
    left: 0;
    margin: 0 auto;

    @include MQ(M) {
      position: static;
    }
  }
}

.todo {
  @include display-flex;
  @include align-items(flex-end);
  @include justify-content(space-between);
  width: 100%;
  position: relative;
  margin-bottom: 60px;

  @include MQ(M) {
    margin-bottom: 20px;
  }
}

.todoComplete {
  position: absolute;
  top: -30px;

  @include MQ(M) {
    position: static;
  }
}

.checkbox {
  label {
    position: relative;
    border: 1px solid $medium-gray;
    border-radius: $base-border-radius;
    width: 20px;
    height: 20px;
    font-size: 0;
  }

  .completeInput {
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    &:checked + label {
      &:before {
        content: "";
        display: block;
        width: 7px;
        height: 16px;
        position: absolute;
        border: solid $action-color;
        transform: rotate(45deg);
        border-width: 0 3px 3px 0;
        top: -2px;
        left: 4px;
      }
    }
  }
}

.todoContent {
  width: 100%;

  @include MQ(M) {
    width: 400px;
  }

  .contentInput {
    border: none;
    border-bottom: 2px solid $light-gray;
    -webkit-border-radius: 0;
  }
}

.todoPomodoros {
  @include display-flex;
  @include justify-content(space-between);
  width: 120px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 0;

  @include MQ(M) {
    position: static;
  }

  .pomodoroCircle {
    width: 20px;
    height: 20px;
    border: 2px solid $medium-gray;
    border-radius: 50%;

    &.active {
      background: $action-color;
      border: 1px solid $action-color;
    }
  }

  &:hover {
    .hoverEstimate {
      opacity: 1;
    }

    .estimated {
      background: $medium-gray;
    }
  }
}

.todoLabels {
  display: none;

  @include MQ(M) {
    @include display-flex;
    @include justify-content(space-between);

    .todoLabel {
      font-size: 12px;
      color: $medium-gray;
    }
  }
}

.finishDayButton {
  margin-top: 20px;
  margin-bottom: 40px;

  @include MQ(M) {
    margin-bottom: 0;
  }
}

.hoverEstimate {
  opacity: 0;
  transition: all 300ms;
  position: absolute;
  font-size: 14px;
  color: $medium-gray;
  right: -100px;
  display: none;

  @include MQ(M) {
    display: initial;
  }
}

