.instructions {
  width: 500px;
  margin-top: 20px;
  color: $dark-gray;
  font-size: 16px;
}

.saveButton {
  margin-right: 10px;
}

.todoEstimate {
  .estimateInput {
    width: 30px;
    height: 30px;
    border: 1px solid $dark-gray;
  }
}

.todoList {
  width: 600px;
  padding: 0;

  &.tomorrow {
    width: 500px;
    padding: 0;
    margin-bottom: 20px;
  }

  .recentlySaved {
    transition: all 400ms;
    font-size: 14px;
    color: $medium-gray;
    text-align: center;
  }
}

.todo {
  @include display-flex;
  @include align-items(flex-end);
  @include justify-content(space-between);
  width: 100%;
  margin-bottom: 20px;
}

.todoComplete {
  label {
    position: relative;
    border: 1px solid $medium-gray;
    border-radius: $base-border-radius;
    width: 20px;
    height: 20px;
  }

  .completeInput {
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    &:checked + label {
      &:before {
        content: "\2714";
        font-size: 18px;
        color: $action-color;
        position: absolute;
        top: -3px;
        left: 2px;
      }
    }
  }
}

.todoContent {
  width: 400px;

  .contentInput {
    border: none;
    border-bottom: 1px solid $medium-gray;
  }
}

.todoPomodoros {
  @include display-flex;
  @include justify-content(space-between);
  width: 120px;
  cursor: pointer;

  .pomodoroCircle {
    width: 20px;
    height: 20px;
    border: 2px solid $medium-gray;
    border-radius: 50%;

    &.active {
      background: $action-color;
      border: 1px solid $action-color;
    }
  }
}

.todoLabels {
  @include display-flex;
  @include justify-content(space-between);

  .todoLabel {
    font-size: 12px;
    color: $medium-gray;
  }
}

.finishDayButton {
  margin-top: 20px;
}
