.welcomeLetter {
  margin-top: 60px;
  width: 600px;
}

.welcomeUser {
  color: $green;
}

.philosophy {
  font-size: 16px;
  list-style: disc;
}

.walkthrough {
  font-size: 16px;
}

.garrett {
  width: 100px;
}

