<section class="navigation">
  <div class="navLinks flexRow flexJustifySpaceBetween">
    <p>Logo/Name</p>
    <%= link_to 'Log out', logout_path, method: :delete, class: 'logoutLink' %>
  </div>
</section>
