<section class="navigation">
  <div class="navLinks flexRow flexJustifySpaceBetween">
    <%= link_to dashboard_path, class: 'logo' do %>
      <%= image_tag 'logo' %>
    <% end %>
    <%= link_to 'Log out', logout_path, method: :delete, class: 'logoutLink' %>
  </div>
</section>
