<section class="navigation">
  <div class="navLinks flexRow flexJustifySpaceBetween">
    <%= link_to dashboard_path, class: 'logo' do %>
      <%= image_tag 'logo' %>
    <% end %>

    <div class="navRight flexRow flexJustifySpaceBetween">
      <% if current_user %>
        <%= link_to 'Settings', settings_path, class: 'navLink' %>
        <%= link_to 'Log out', logout_path, method: :delete, class: 'navLink' %>
      <% end %>
    </div>
  </div>
</section>
